@charset "utf-8";
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    background-color: #228B22;
}
#pagina {   
    margin:0 auto;
    max-width: 1080px;
    overflow:hidden; 
    height: 1800px; 
    background-color:#2F4F4F;
} 

@media (min-width:600px){
    #pagina { 
    height: 960px;
    }
}

#topo {
    width:100%;
    height:auto;
    background:#2F4F4F;
    padding: 0px 10px;
}
    
#topo img {
    min-height:10px;
    max-height: 100px;        
}

#menu {
    text-align: center;   
    width:auto;
    padding: 10px 0px;
    background-color:#008000;
}
#menu ul li {
    display: inline; 
    padding: 1% 30px;
}
@media (min-width:400px){
    #menu ul li {
        padding: 3px 11px;
    }
}

@media (min-width:500px){
        #menu ul li {
            padding: 3px 20px;
    }
}

@media (min-width:600px){
    #menu ul li {
        padding: 3px 35px;
    }
}

@media (min-width:800px){
    #menu ul li {
        padding: 3px 58px;
    }
}


#menu ul li:hover{
    cursor: pointer;
    background-color:#228B22;
    border-radius: 5px;
}

#menu ul a{
    text-decoration: none;
    color: #fff;
}

@font-face {
    font-family: "Joystix Monospace";
    src: url("../fonts/Joystix.ttf");
}


.botao{
    font-family: "Joystix Monospace";
    background:#0bf15a;
    padding:7px 15px;
    border: none;
}

#canvas{
    margin-top:15px;
    width:80%;
    border:5px solid;
    background:black;
    border-color:#018E5B;
    border-radius:5px
}

#textoPersonagem1{
    float:left;
    width:45%;
}

#textoPersonagem2{
    width:45%;
    float:right;margin-bottom: 15px
}

#tituloJogo{
    padding: 5px 25px;
    color: #0bf15a;
}

#contTexto{
    font-size: 18px;
    text-align: justify;
    padding:5px;
}


#conteudoJogo{    
    border: 2px solid #00724B;
    margin:0 auto;
    width:85%;
    min-height:75%;
    margin-top:15px;
}

#conteudoJogo{
    border:none;
}

.linha{
    width: 100%;
    background-color:#018E5B;  
    border: none;
    height: 3px
}


#Instrucoes{
    margin-top:30px;
    color:#fff;
}




