@charset "utf-8";

    .quadroBanner{
        position:relative;
        margin:0 auto;
        top:0px;
        left:0px;
        width:980px;
        height:480px;
        overflow:hidden;
        visibility:hidden;
    }

    .bannerSlide{
        cursor:default;
        position:relative;
        top:0px;
        left:0px;
        width:980px;
        height:480px;
        overflow:hidden;
    }

	* {
		margin:0;
		padding:0;
		box-sizing: border-box;
		
	}

    body{
        background-color: #228B22;
    }

    .integrante{
        color:white;
        text-align:center;
        display: inline-block;
        max-width: 70%; 
        margin-left:15%;
    }

    @media (min-width:400px){ 
        .integrante{
            max-width: 44%; 
            margin:2%;  
        }
        
    }


    @media (min-width:600px){
        .integrante{
            margin:4%;  
            max-width: 24%;  
            
        }
    }

    @media (min-width:900px){
    .integrante{
            
        float:left; 
            margin:1%;  
            max-width: 18%;
        }
    }
    .img{
        max-width: 100%;
    }
    .texto{
        min-height: 100px;
    }

    .integrante img{
        border: 3px solid #018E5B;
        border-radius:65px;
    }

	#pagina {   
        margin:0 auto;
  		max-width: 1080px;
        overflow:hidden; 
        height: 1800px; 
        background-color:#2F4F4F;
	} 
    @media (min-width:600px){
        #pagina { 
        height: 960px;
        }
    }

    #textoSobre{
        max-width: 100%;
        height: 100%;
        float:left;
        display: inline-block;
        color:#fff;
        padding:10px;
    }

    #textoSobre p{
        max-width: 70.18em;
    }

    @media (min-width:900px){
        #textoSobre{            
            max-width: 47%;
        }
    }

    #imagemSobre{
        border:8px solid #018E5B;
        display: inline-block;
        height: 80%;
        margin: 10% 10px;
        max-width: 100%;
        float:right;
    }

    @media (min-width:900px){
        #imagemSobre{
           
            max-width: 47%;
        }
    }


    
    #imagemSobre .img{
        max-width: 100%;
    }

    #topo {
        width:100%;
        height:auto;
        background:#2F4F4F;
        padding: 0px 10px;

    }
    
    #topo img {
        min-height:10px;
        max-height: 100px;
        
    }

    #menu {
        text-align: center;   
        width:auto;
        padding: 10px 0px;
        background-color:#008000;
    }
    #menu ul li {
        display: inline; 
        padding: 1% 30px;
    }
    @media (min-width:400px){
        #menu ul li {
            padding: 3px 11px;
        }
    }

    @media (min-width:500px){
            #menu ul li {
                padding: 3px 20px;
        }
    }

    @media (min-width:600px){
        #menu ul li {
            padding: 3px 35px;
        }
    }

    @media (min-width:800px){
        #menu ul li {
            padding: 3px 58px;
        }
    }


    #menu ul li:hover{
        cursor: pointer;
        background-color:#228B22;
        border-radius: 5px;
    }
    
    #menu ul a{
        text-decoration: none;
        color: #fff;
        

    }


    #imagemLulu{
        margin:0 auto;
        margin-top:35px;
        max-width:80%;
    }

    @media (min-width:400px){
        #imagemLulu{
            display:none;
        }
    }

    #banner {
        display:none;
    }

    @media (min-width:400px){
        #banner{
            display: flow-root;
            width: 80%;
            margin: 0 auto;
            margin-top: 30px;
            border: 5px solid #000;
        }
    }
    
    #integrantes {  
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
        height: 100%;
        
    }
    
    #integrantes h1 {
        margin: 0 auto;
        margin: 10px;
        color: #fff;
    }

    #integrantes ul {
        margin-top:20px;
        width: 100%;
        height: 70%;
    }
     #integrantes ul li {
        list-style: none;
        float:none;
        width: 50%;
        height: 80%;
        padding: 0px 5px;
    }

    @media (min-width:600px){
        #integrantes ul li {
            list-style: none;
            float:left;
            width: 20%;
            height: 80%;
            padding: 0px 5px;
        }
    }

@font-face {
                font-family: "Joystix Monospace";
                src: url(sansation_light.woff);
            }
            .botao{
                font-family: "Joystix Monospace";
                background:#0bf15a;
                padding:7px 15px;
                border: none;
            }

    #canvas{
        margin-top:15px;
        width:80%;
        border:5px solid;
        background:black;
        border-color:#018E5B;
        border-radius:5px
    }
    #textoPersonagem1{
        float:left;
        width:45%;
    }

#textoPersonagem2{
    width:45%;
    float:right;margin-bottom: 15px
}


/*    #integrantes ul li img{
        width: 100%;
        height: 100%;
        border: 3px solid #000;
    }
*/
    .nome {
        color:#fff;
    }

    #fundo {
        width:100%;
        height:60%;
        background-color:#228B22;
    }
    @media (min-width:500px){
            #fundo {
                height: 68%;
         }
    }

     @media (min-width:600px){
            #fundo {
                height: 28%;
         }
    }
    @media (min-width:800px){
        #fundo {
            height:40%;    
            font-size: 100%;      
        }
    }
    @media (min-width:1000px){
        #fundo {
            height:35%;             
      }
    }

    @media (min-width:2000px){
          #fundo {
            height:15%;   
            font-size: 100%;           
          }
    }
    .imagem{
        height: 60%;
        
    }
    

    .imagem img{
        max-width: 100%;
    }

#tituloSobre{
    padding: 5px 25px;
    color: #018E5B;
}

#tituloJogo{
    padding: 5px 25px;
    color: #0bf15a;
}

.tituloLucrecia{
    padding: 10px 0px 0px 35px;
    color: #fff;
}

@media (max-width:400px){
    .tituloLucrecia h1{
        margin-left:-25px;
        text-align:center;
        font-size: 18px;
        color:#018E5B;
    }
}

#contTexto{
    font-size: 18px;
    text-align: justify;
    padding:5px;
}


#conteudoSobre, #corpoLucrecia, #conteudoJogo, #corpoIntegrantes{    
    border: 2px solid #00724B;
    margin:0 auto;
    width:85%;
    min-height:75%;
    margin-top:15px;
}

#corpoIntegrantes{
    min-height:70%;
}
#conteudoSobre{
        min-height:82%;
}



@media (min-width:900px){
    #conteudoSobre{
        min-height:60%;
    }
}

#conteudoJogo{
    border:none;
}
@media (min-width:450px){
    #corpoLucrecia{  
        min-height:90%;
    }
}

@media (min-width:600px){
    #corpoLucrecia{  
        min-height:50%;
    }
}

@media (min-width:650px){
    #corpoLucrecia{  
        min-height:55%;
    }
}

@media (min-width:700px){
    #corpoLucrecia{  
        min-height:65%;
    }
}

@media (min-width:750px){
    #corpoLucrecia{  
        min-height:75%;
    }
}

.linha{
    width: 100%;
    background-color:#018E5B;  
    border: none;
    height: 3px
}

    #imagemRobo{
        max-width:90%;
        border:1px solid #00724B;
        margin:5%;
    }

@media (min-width:600px){
    #imagemRobo{
        max-width:45%;
        float:left;
        margin:1%;
    }
}



#Instrucoes{
    margin-top:30px;
    color:#fff;
}

#imagemRobo img{
    max-width: 100%;
}

#imagensLucrecia{
    height: 100%;
    margin:0 auto;
    width:90%;
    margin-top:15px;
}

#funcionamento {
	font-size: 20px;
    text-align: justify;
    padding:5px;
	color: #fff;
	margin-top:10px;
}





